body {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 400px 150px 150px 150px;
}

#header {
  background-color: rgb(9, 9, 24);
  color: white;
  line-height: 50px;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#menu {
  background-color: red;
  color: white;
  line-height: 50px;

  grid-column: 2 / 5;
  grid-row: 1 / 2;
}

#hero {
  background-color: rgb(95, 95, 220);
  color: white;
  line-height: 400px;

  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

#main {
  background-color: rgb(15, 15, 73);
  color: white;
  line-height: 300px;

  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

#image {
  background-color: lightblue;
  line-height: 150px;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

#extra {
  background-color: lightgreen;
  line-height: 150px;

  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

#banner {
  background-color: sandybrown;
  line-height: 150px;
  grid-column: 1 / 5;
  grid-row: 5 / 6;
}

@media (max-width: 768px) {
  section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 300px 300px 150px 150px;
  }

  #header {
    line-height: 50px;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  #menu {
    line-height: 600px;
    grid-column: 1 / 2;
    grid-row: 3 / 6;
  }

  #hero {
    line-height: 300px;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  #main {
    line-height: 300px;
    grid-column: 2 / 5;
    grid-row: 3 / 5;
  }

  #image {
    line-height: 150px;
    grid-column: 4 / 5;
    grid-row: 5 / 6;
  }

  #extra {
    line-height: 150px;
    grid-column: 2 / 4;
    grid-row: 5 / 6;
  }

  #banner {
    line-height: 150px;
    grid-column: 2 / 5;
    grid-row: 4 / 5;
  }
}

@media (max-width: 425px) {
  section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 50px 150px 150px 100px 100px 100px;
  }

  #header {
    line-height: 50px;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  #menu {
    line-height: 50px;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  #hero {
    line-height: 150px;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  #main {
    line-height: 150px;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }

  #image {
    line-height: 100px;
    grid-column: 1 / 5;
    grid-row: 5 / 6;
  }

  #extra {
    line-height: 100px;
    grid-column: 1 / 5;
    grid-row: 6 / 7;
  }

  #banner {
    line-height: 100px;
    grid-column: 1 / 5;
    grid-row: 7 / 8;
  }
}
